<%= form_for(@produkt) do |f| %>
  <% if @produkt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produkt.errors.count, "Fehler") %> prohibited this produkt from being saved:</h2>

      <ul>
      <% @produkt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :preis %><br />
    <%= f.number_field :preis %>
  </div>
  <div class="field">
    <%= f.label :kategorie %><br />
    <%= f.text_field :kategorie %>
  </div>
  <div class="field">
    <%= f.label :beschreibung %><br />
    <%= f.text_area :beschreibung %>
  </div>
  <div class="field">

    <%= f.label :gueltigVon %><br />
    <%= f.date_select :gueltigVon,
                      :order => [:day, :month, :year],
                      :include_blank => true %>
  </div>
  <div class="field">
    <%= f.date_select :gueltigBis,
                      :order => [:day, :month, :year],
                      :include_blank => true %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
