<h1>Unsere Produkte</h1>

<table id="product-list">
    <tr>
        <th>Bild</th>
        <th>Name</th>
        <th>Kategorie</th>
        <th>Beschreibung</th>
        <th style="text-align: right;">Preis</th>
        <th colspan="2">Administration</th>
    </tr>

    <% @produkts.each do |produkt| %>
      <tr>
          <td><%= link_to produkt.bild, produkt %></td>
          <td><%= link_to produkt.name, produkt %></td>
          <td><%= produkt.kategorie %></td>
          <td><%= produkt.beschreibung %></td>
          <td style="text-align: right;"><%= produkt.preis %> &euro;</td>
          <td><%= link_to 'Bearbeiten', edit_produkt_path(produkt) %></td>
          <td><%= link_to 'Löschen', produkt, method: :delete, data: { confirm: 'Bist Du Dir sicher, dass dieses Produkt gelöscht werden soll?' } %></td>
      </tr>
    <% end %>
</table>

<br />

<%= link_to 'Neues Produkt anlegen', new_produkt_path %>
