<h3><%= @produkt.name %></h3>

<p id="notice"><%= notice %></p>

<p>
  <b>Kategorie:</b>
  <%= @produkt.kategorie %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @produkt.beschreibung %>
</p>

<p>
  <b>Preis:</b>
  <%= @produkt.preis %>
</p>

<p>
  <b>Bild:</b>
  <%= @produkt.bild %>
</p>

<%= link_to 'Bearbeiten', edit_produkt_path(@produkt) %> |
<%= link_to 'Zurück', produkts_path %>
