<h3><%= @produkt.name %></h3>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @produkt.name %>
</p>

<p>
  <b>Preis:</b>
  <%= @produkt.preis %>
</p>

<p>
  <b>Kategorie:</b>
  <%= @produkt.kategorie %>
</p>

<p>

  <b>Beschreibung:</b>
  <%= @produkt.beschreibung %>
</p>

<p>

  <b>Gültig von:</b>
  <%= l(@produkt.gueltigVon) %>
</p>

<p>
  <b>Gültig bis:</b>
  <%= l(@produkt.gueltigBis) %>

</p>



<%= link_to 'Bearbeiten', edit_produkt_path(@produkt) %> |
<%= link_to 'Zurück', produkts_path %>
